<h1>ユーザー詳細</h1>
<hr>
<p>name : <%= @user.name %></p>
<p><span>email: </span><%= @user.email %></p>
<p>profile : <%= @user.profile %></p>

<% @photos.each do |photo| %>
  <hr>
  <p><span>投稿内容: </span><%=link_to photo.caption, photo_path(photo.id) %></p>
<% end %>
